.choresText {
   color: red;
   font-family: Cambria;
   font-size: 12pt;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: darkred;
   text-decoration: underline;
   text-align: left;
   font-family: Cambria;
}